@charset "UTF-8";
.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mt30px {
  margin-top: 30px;
}

@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Bold.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Light.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Bold.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Light.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Regular.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Bold.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Bold.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Regular.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Thin.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Thin.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Thin.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Light.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Thin.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Regular.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/bmw_typenext/BMWTypeNext-Regular.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url("../fonts/bmw_typenext/BMWTypeNextTT-Light.woff2") format("woff2"), url("../fonts/bmw_typenext/BMWTypeNextTT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?y20bd6");
  src: url("../fonts/icomoon/fonts/icomoon.eot?y20bd6#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?y20bd6") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?y20bd6") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?y20bd6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav:before {
  content: "";
  color: #8e8e8e;
}

.icon-calendar:before {
  content: "";
}

.icon-akpp:before {
  content: "";
  color: #4d4d4d;
}

.icon-engine:before {
  content: "";
  color: #4d4d4d;
}

.icon-gas:before {
  content: "";
  color: #4d4d4d;
}

.icon-rear:before {
  content: "";
  color: #4d4d4d;
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "BMWTypeNext";
  background: #E5E5E5;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

@media screen and (min-width: 1024px) {
  .content {
    background-image: url("../img/main_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.content.no_bg {
  background: none !important;
}

.padding-block {
  padding: 20px 20px 30px;
  display: grid;
  grid-gap: 20px;
}
@media screen and (min-width: 375px) {
  .padding-block {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .padding-block {
    padding: 40px 40px 60px;
    grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  }
}
@media screen and (min-width: 1153px) {
  .padding-block {
    padding: 40px 40px 60px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}

.title-h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .title-h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

.title-h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .title-h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

.text-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #262626;
  border-bottom: 1px solid #262626;
}

.dropdown {
  position: relative;
}
.dropdown .dropbtn {
  width: 100%;
  display: block;
  padding: 0 10px;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  background: #fff;
  outline: none;
  box-shadow: none;
  background-image: url("../img/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}
@media screen and (min-width: 768px) {
  .dropdown .dropbtn {
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    font-size: 16px;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #BBBBBB;
  border-top: none;
  box-sizing: border-box;
  background: #fff;
  outline: none;
  box-shadow: none;
}
.dropdown-content span {
  color: black;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .dropdown-content span {
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    font-size: 16px;
  }
}
.dropdown-content span:hover {
  background-color: #ddd;
}

.input {
  width: 100%;
  display: block;
  padding: 0 10px;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  background: #fff;
  outline: none;
  box-shadow: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .input {
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    padding: 0 20px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-family: BMWTypeNext;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  text-decoration: underline;
  text-decoration-color: #8E8E8E;
  cursor: pointer;
}
.inputfile + label:before {
  content: "+";
  font-size: 20px;
  margin-right: 7px;
  position: absolute;
  left: 0;
  top: 2px;
  top: calc(50% - 10px);
}

.checbox-container {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  color: #262626;
  /* Hide the browser's default checkbox */
}
.checbox-container a {
  color: #262626;
}
.checbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #BBBBBB;
}
.checbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checbox-container input:checked ~ .checkmark {
  background-color: #000;
}
.checbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checbox-container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.field:not(:first-child) {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .field:not(:first-child) {
    padding-top: 20px;
  }
}
.field .label {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #262626;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .field .label {
    padding-bottom: 10px;
  }
}

.btn {
  height: 40px;
  line-height: 38px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .btn {
    height: 52px;
    line-height: 50px;
    font-size: 16px;
  }
}
.btn.blue {
  background: #316ACD;
  color: #fff;
  border-color: #316ACD;
}
.btn.flat {
  background: none;
  color: #000;
  border-color: #000;
}

.header {
  padding: 8px 21px;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 41px;
    min-height: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: none;
  }
}
.header.image_bg {
  background-image: url("../img/header_bg_top.jpeg");
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-login {
  display: flex;
  align-items: center;
}
.header-login .user-icon {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .header-login .user-icon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .header .header-auth {
    margin-top: 31px;
  }
}
.header .logo {
  max-width: 105px;
  margin-left: 20px;
  max-width: 67px;
}
@media screen and (min-width: 1153px) {
  .header .logo {
    max-width: 100px;
    margin-left: 47px;
  }
}
.header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header-title {
    font-size: 20px;
    line-height: 27px;
    margin-top: 41px;
  }
}
.header-content {
  color: #fff;
  position: relative;
  padding-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .header-content {
    padding-bottom: 60px;
  }
}
.header-content hr {
  margin: 20px 0 30px;
  height: 0px;
  border-color: #fff;
  width: calc(100% - 60px);
}
@media screen and (min-width: 768px) {
  .header-content hr {
    margin: 40px 0 60px;
    width: calc(100% - 91px);
  }
}
@media screen and (min-width: 1153px) {
  .header-content hr {
    margin: 40px 0 60px;
    width: calc(100% - 150px);
  }
}
.header-content h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header-content h1 {
    padding-bottom: 20px;
    font-size: 48px;
    line-height: 64px;
  }
}
.header-content h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .header-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

.sidebar {
  padding: 0 20px 30px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .sidebar {
    padding: 0 20px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .sidebar {
    margin-top: -180px;
    min-height: 100%;
    max-width: 586px;
  }
}
.sidebar .sidebar-header-title {
  display: none;
}
@media screen and (min-width: 1024px) {
  .sidebar .sidebar-header-title {
    display: block;
  }
}
.sidebar .sidebar-header-title p {
  padding: 40px 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  border-bottom: 1px solid #CCCCCC;
}
.sidebar-cont {
  max-width: 453px;
  margin: 0 auto;
}
.sidebar-cont .title-h1 {
  padding: 30px 0 10px;
}
@media screen and (min-width: 768px) {
  .sidebar-cont .title-h1 {
    padding: 60px 0 20px;
  }
}
.sidebar-cont .title-h3 {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sidebar-cont .title-h3 {
    padding-bottom: 30px;
  }
}
.sidebar-cont .title-h3.pb20 {
  padding-bottom: 20px;
}
.sidebar hr {
  margin: 20px 0 0;
}
@media screen and (min-width: 768px) {
  .sidebar hr {
    margin: 30px 0 0;
  }
}
.sidebar .approval {
  padding: 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .sidebar .approval {
    padding: 18px 0 30px;
  }
}
.sidebar .upload-inputs > div:not(:first-child) {
  padding-top: 20px;
}
.footer {
  background: #000;
  padding: 20px 20px 10px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 40px 10px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-copy {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-nav {
    max-width: 60%;
    text-align: right;
  }
}
.footer-nav .item {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer-nav .item {
    display: inline-block;
    margin-left: 20px;
  }
}
.footer-nav a {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.form_code {
  padding-top: 16px;
}
.form_code .form .btn {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .form_code .form .btn {
    margin-top: 20px;
  }
}
.form_code .form .text-link {
  margin-top: 10px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .form_code .form .text-link {
    margin-top: 20px;
  }
}

.car-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.car-card .photo {
  padding: 21px 26px;
}
.car-card .photo img {
  margin: 0 auto;
}
.car-card .cont {
  padding: 0 20px 20px;
}
.car-card .title {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
  font-weight: 400;
}
.car-card .property-item {
  font-size: 10px;
  line-height: 18px;
}
.car-card .property-item:not(:first-child) {
  padding-top: 10px;
}
.car-card .property-item i {
  color: #C4C4C4;
  margin-right: 8px;
}
.car-card .btn {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
