.title-h1 {
    // font-family: BMWTypeNext;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
}

.title-h3 {
    // font-family: BMWTypeNext;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}