$color_dark: #262626;
$color_grey: #BBBBBB;
$color_blue: #316ACD;

$small_mobile: 375px;
// $mobile: 767px;
$tablet: 768px;
$medium: 1024px;
$large: 1153px;
// $fullsreen: 1920px;




.pt20 {
    padding-top: 20px;
}
.pb20 {
    padding-bottom: 20px;
}

.mt30px {
    margin-top: 30px;
}