.ask {
    .grid {
        @media screen and (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 19px;
        }
        @media screen and (min-width: $large) {
            grid-template-columns: repeat(6, 1fr);
        }
        @media screen and (min-width: $extra_large) {
            grid-template-columns: repeat(8, 1fr);
        }

        .field:first-child {
            @media screen and (min-width: $tablet) {
                // padding-top: 20px;
                grid-column: auto / span 1;
            }
            @media screen and (min-width: $large) {
                grid-column: auto / span 2;
            }
        }

        .field:nth-child(2) {
            @media screen and (min-width: $tablet) {
                grid-column: auto / span 1;
            }
            @media screen and (min-width: $large) {
                grid-column: auto / span 2;
            }
        }

        .field:nth-child(3) {
            @media screen and (min-width: $large) {
                grid-column: auto / span 2;
            }
        }

        .field:nth-child(4) {
            @media screen and (min-width: $tablet) {
                grid-column-start: 1; 
            }
            @media screen and (min-width: $large) {
                grid-column-start: auto; 
                grid-column: auto / span 3;
            }
            @media screen and (min-width: $extra_large) {
                grid-column: auto / span 2;
                grid-column-start: 1; 
            }
        }

        .field:nth-child(5) {
            @media screen and (min-width: $large) {
                grid-column: auto / span 3;
            }
            @media screen and (min-width: $extra_large) {
                grid-column: auto / span 2;
            }
        }

        .field:nth-child(6) {
            @media screen and (min-width: $tablet) {
                grid-column: auto / span 2;
            }
            @media screen and (min-width: $large) {
                grid-column: auto / span 3;
            }
            @media screen and (min-width: $extra_large) {
                grid-column: auto / span 4;
                grid-column-start: 1; 
            }
        }
        .field:nth-child(7) {
            @media screen and (min-width: $tablet) {
                grid-column: auto / span 2;
            }
            @media screen and (min-width: $large) {
                grid-column: auto / span 6;
            }
            @media screen and (min-width: $extra_large) {
                grid-column: auto / span 4;
                grid-column-start: 1; 
            }
        }
    }

    .radio-block  {
        display: flex;
        padding: 20px 0 20px;
        @media screen and (min-width: $tablet) {
            padding: 30px 0 20px;
        }
        label {
            margin-right: 77px;
        }
    }

    .uploads {
        .title-h3 {
            padding: 20px 0 10px;
        }

        .upload-inputs {
            padding-bottom: 20px;
            @media screen and (min-width: $tablet) {
                padding-bottom: 30px;
            }
        }

        .approval {
            padding: 0 0 20px;
            @media screen and (min-width: $tablet) {
                padding-bottom: 30px;
            }
        }
    }

    .field {
        @media screen and (min-width: $tablet) {
            padding-top: 0;
        }
    }

    .btn {
        @media screen and (min-width: $tablet) {
            max-width: 334px;
        }

        @media screen and (min-width: $extra_large) {
            max-width: 444px;
        }
    }
}