.car-card {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    background: #fff;
    .photo {
        padding: 21px 26px;
        img {
            margin: 0 auto;
        }
    }
    .cont {
        padding: 0 20px 20px;
    }
    .title {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;
        font-weight: 400;
    }
    .property {
        &-item {
            font-size: 10px;
            line-height: 18px;
            &:not(:first-child) {
                padding-top: 10px;
            }
            i {
                // font-size: 10px;
                color: #C4C4C4;
                margin-right: 8px;
            }
            span {
                // font-size: 10px;
                // line-height: 18px;
            }
        }
    }
    .btn {
        margin-top: 20px;
    }
}