.col-block {
    .block-title {
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
        padding: 0 0 10px 20px;

        @media screen and (min-width: $tablet) {
            font-size: 32px;
            line-height: 40px;
            padding: 0 0 20px 40px;
        }
    }
    .cont {
        @media screen and (min-width: $extra_large) {
            padding: 40px;
        }
        &.padding_row_none {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .map {
        height: 200px;  
        @media screen and (min-width: $extra_large) {
            height: 100%;
        }
        iframe {
            border: 0;
            height: 100%;
            width: 100%;
        }

    }
    .grid {
        @media screen and (min-width: $extra_large) {
            display: grid;
            grid-template-columns: 445px 1fr;
            grid-gap: 20px; 
        }
        .left-col {
            @media screen and (min-width: $tablet) {
                padding-bottom: 20px;
            }
        }
        .right-col {
            position: relative;
            .car-image {
                // margin-bottom: -10%;
                margin-left: 50%;
                transform: translate3d(-50%, 38%, 0);
                @media screen and (min-width: $extra_large) {
                    position: absolute;
                    transform: translate3d(-50%, -70%, 0);
                }
            }
        }

        .user-data {
            padding: 10px 20px 20px;
            @media screen and (min-width: $tablet) {
                padding: 20px 40px 40px;
            }
            &-block {
                margin-bottom: 20px;
                @media screen and (min-width: $medium) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px; 
                }
                @media screen and (min-width: $extra_large) {
                    grid-template-columns: 1fr;
                    grid-gap: 0;
                }
                @media screen and (min-width: $extra_large) {
                    margin-bottom: 0;
                }
                & > div {
                    &:first-child {
                        .item:first-child {
                            border-top: none;
                            padding-top: 10px;
                            @media screen and (min-width: $tablet) {
                                padding-top: 20px;
                            }
                        }
                        .item:nth-child(3) {
                            @media screen and (min-width: $medium) {
                                border-bottom: 1px solid #CCCCCC;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .item:first-child {
                            @media screen and (min-width: $medium) {
                                padding-top: 20px;
                                border-top: none;
                            }
                        }
                        .item:nth-child(2) {
                            @media screen and (min-width: $medium) {
                                border-bottom: 1px solid #CCCCCC;
                            }
                        }
                    }
                }
                .item {
                    display: flex;
                    padding: 10px 0;
                    align-items: center;
                    border-top: 1px solid #CCCCCC;
                    @media screen and (min-width: $tablet) {
                        padding: 20px 0px;
                    }
                    @media screen and (min-width: $extra_large) {
                        padding: 16px 0px;
                    }
                    
                    &-name {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 20px;
                        text-transform: uppercase;
                        min-width: 135px;
                    }
                    &-value {
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 400;

                        padding: 0;
                        border: none;
                        background: none;
                        box-shadow: none;
                        outline: none;
                        color: #000;

                        &::placeholder {
                            color: #000;
                        }

                        @media screen and (min-width: $tablet) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }

            .btn {
                margin-top: 10px;
                @media screen and (min-width: $tablet) {
                    max-width: 294px;
                    margin-left: auto;
                }
                @media screen and (min-width: $medium) {
                    max-width: 100%;
                    margin: 74px auto 0;
                }
                @media screen and (min-width: $extra_large) {
                    max-width: 100%;
                    margin: 20px auto 0; 
                }
            }
        }

        .tile-block {
            padding: 40px 20px 20px;
            &:not(:first-child) {
                margin-top: 20px;
            }

            @media screen and (min-width: $tablet) {
                padding: 40px;
            }
            @media screen and (min-width: $extra_large) {
                padding: 0;
            }
            .top-title {
                font-weight: 300; 
                font-size: 18px;
                line-height: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #CCCCCC;

                @media screen and (min-width: $tablet) {
                    font-size: 22px;
                    line-height: 30px;
                    padding-bottom: 20px;
                }
                &.no_border {
                    border-bottom: none;

                    @media screen and (min-width: $tablet) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
        }
        
        .test-drive {
            @media screen and (min-width: $extra_large) {
                display: grid;
                grid-template-columns: .57fr .43fr;
                grid-gap: 20px; 
            }

            .title-block {
                padding: 10px 0 16px;
                display: flex;
                justify-content: space-between;
                @media screen and (min-width: $tablet) {
                    padding: 20px 0 20px;
                }
                .title {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    @media screen and (min-width: $tablet) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
                .year {
                    padding-top: 5px;
                    color: #8E8E8E;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 18px;
                    @media screen and (min-width: $tablet) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .btn {
                    max-width: 132px;
                    @media screen and (min-width: $tablet) {
                        max-width: 180px;
                    }
                }
            }
            .descr {
                & > div {
                    @media screen and (min-width: $extra_large) {
                        display: flex;
                    }
                }
                .property {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px; 
                    @media screen and (min-width: $tablet) {
                        font-size: 12px;
                        line-height: 20px;
                        display: flex;
                    }
                    @media screen and (min-width: $extra_large) {
                        flex-direction: column;
                        grid-gap: 10px;
                    }
                    & + div {
                        @media screen and (min-width: $extra_large) {
                            padding-left: 10%;
                        }
                    }
                }
                .model {
                }
                .date {
                    padding: 20px 0 10px;
                    font-size: 16px;
                    line-height: 22px;
                    @media screen and (min-width: $tablet) {
                        padding: 40px 0 20px;
                        font-size: 22px;
                        line-height: 30px;
                    }
                    @media screen and (min-width: $extra_large) {
                        padding: 0 0 20px;
                    }
                }
                .contact {
                    padding-bottom: 10px;
                    @media screen and (min-width: $tablet) {
                        padding-bottom: 20px;
                    }
                    .adress {
                        color: #000;
                        display: inline-block;
                        font-size: 10px;
                        line-height: 18px;

                        @media screen and (min-width: $tablet) {
                            font-size: 12px;
                            line-height: 20px;
                        }
                        
                        &:after {
                            content: "|";
                            font-size: 10px;
                            position: relative;
                            top: -1px;
                            margin: 0 6px 0 10px;
                            color: #CCCCCC;
                        }
                    }
                    .phone {
                        color: #000;
                        display: inline-block;
                        font-size: 10px;
                        line-height: 18px;

                        @media screen and (min-width: $tablet) {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}