.form_code {
    padding-top: 16px;
    .form {
        .btn {
            margin-top: 10px;
            @media screen and (min-width: $tablet) {
                margin-top: 20px;
            }
        }
        .text-link {
            margin-top: 10px;
            display: inline-block;
            @media screen and (min-width: $tablet) {
                margin-top: 20px;
            }
        }
    }
}