 .header {
    padding: 8px 21px;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $tablet) {
        padding: 0 41px;
        min-height: 180px;
    }

    @media screen and (min-width: $medium) {
        background-image: none;
    }

    &.image_bg {
        background-image: url("../img/header_bg_top.jpeg");
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-login {
        display: flex;
        align-items: center;

        .user-icon {
            width: 16px;

            @media screen and (min-width: $tablet) {
                width: 30px;
            }
        }
    }
    .header-auth {

        @media screen and (min-width: $tablet) {
            margin-top: 31px;
        }
    }
    .logo {
        max-width: 105px;
        margin-left: 20px;
        max-width: 67px;

        @media screen and (min-width: $large) {
            max-width: 100px;
            margin-left: 47px;
        }
    }

    &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        text-decoration: none;

        @media screen and (min-width: $tablet) {
            font-size: 20px; 
            line-height: 27px;
            margin-top: 41px;
        }
    }

    &-content {
        color: #fff;
        position: relative;
        padding-bottom: 22px;

        @media screen and (min-width: $tablet) {
            padding-bottom: 60px;
        }

        hr {
            margin: 20px 0 30px;
            height: 0px;
            border-color: #fff;
            width: calc(100% - 91px);

            @media screen and (min-width: $tablet) {
                margin: 40px 0 60px;
            }
            @media screen and (min-width: $large) {
                width: calc(100% - 150px);
            }
        }
        h1 {
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 10px;
            text-transform: uppercase;

            @media screen and (min-width: $tablet) {
                padding-bottom: 20px;
                font-size: 48px;
                line-height: 64px;
            }
        }
        h2 {
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;

            @media screen and (min-width: $tablet) {
                font-size: 32px;
                line-height: 40px;
            }
        }

        .btn {
            margin-top: 20px;
            max-width: 214px;

            @media screen and (min-width: $tablet) {
                margin: 40px 0 90px;
                min-width: 290px;
            }
        }
    }
 }