.input {
    width: 100%;
    display: block;
    padding: 0 10px;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    background: #fff;
    outline: none;
    box-shadow: none;

    // font-family: BMWTypeNext;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        padding: 0 20px;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
        font-family: BMWTypeNext;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        text-decoration: underline;
        text-decoration-color: #8E8E8E;
        cursor: pointer;

        &:before {
            content: "+";
            font-size: 20px;
            margin-right: 7px;
            position: absolute;
            left: 0;
            top: 2px;
            top: calc(50% - 10px);
        }
    }
}

.textarea {
    width: 100%;
    height: 130px;
    display: block;
    padding: 10px 10px;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    background: #fff;
    outline: none;
    box-shadow: none;
    resize: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    @media screen and (min-width: $tablet) {
        height: 190px;
        padding: 14px;
        line-height: 24px;
        font-size: 16px;
        padding: 15px 20px;
    }
}