.radiobutton-container {
	display: block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
	user-select: none;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 24px;
    }
    
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
        
		&:checked {
			~ {
				.checkmark {
					background-color: #000;
                    border: 1px solid #000;
					&:after {
						display: block;
					}
				}
			}
		}
	}

	.checkmark {
		&:after {
            top: 10px;
            left: 11px;
            width: 4px;
            height: 4px;
			border-radius: 50%;
			background: white;
		}
	}

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid #CCCCCC;
        border-radius: 50%;
        top: -4px;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

